@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body{
	background: #f5f6fa;
  overflow: auto;
}
/* show the scrollbar for any element with class 'scrollable' */
.scrollable {
  overflow: auto;
  scrollbar-width: none; /* hide scrollbar for Firefox */
  -ms-overflow-style: none; /* hide scrollbar for Internet Explorer and Microsoft Edge */
}

/* style the scrollbar for webkit-based browsers (e.g. Chrome, Safari) */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  outline: 1px solid #F5F5F5;
}
/**/
.section-body {
	height: calc(100vh - 100px);
  }
.image-container img{
    max-width: 100%;
    height: 30px;
    margin-left: 30px;
}
.links-container {
    margin-left: auto;
}
.links-container a:hover{
    background-color: #49525e;
}
.about-link, .contact-link {
    margin-left: 10px;
    color: white;
}
/*wrapper*/
.wrapper .sidebar{
	background: #49525e;
	position: fixed;
	top: 0;
	left: 0;
	width: 225px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}
.wrapper .sidebar .profile{
	margin-bottom: 30px;
	text-align: center;
}
.wrapper .sidebar .profile img{
	display: block;
	width: 100px;
	height: 100px;
    border-radius: 50%;
	margin: 0 auto;
}
.wrapper .sidebar .profile h3{
	color: #ffffff;
	margin: 10px 0 5px;
}
.wrapper .sidebar .profile p{
	color: rgb(206, 240, 253);
	font-size: 14px;
}
.wrapper .sidebar ul li a{
	display: block;
	padding: 13px 30px;
	border-bottom: 1px solid #333D49;
	color: rgb(241, 237, 237);
	font-size: 16px;
	position: relative;
}
.wrapper .sidebar ul li a .icon{
	color: #dee4ec;
	width: 30px;
	display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
	color: #777777;
	background:white;
    border-right: 2px solid rgb(37, 37, 37);
}
.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
	color: #777777;
}
.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
	display: block;
}
.wrapper .section{
	width: calc(100% - 225px);
	margin-left: 225px;
	transition: all 0.5s ease;
}
.wrapper .section .top_navbar{
	background: #333D49;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 30px;
}
.wrapper .section .top_navbar .hamburger a{
	font-size: 28px;
	color: #f4fbff;
}
.wrapper .section .top_navbar .hamburger a:hover{
	color: #a1a1a1;
}
/*top nav bar fixed*/
.top_navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 10px;
  z-index: 1000;
}
body.active .wrapper .sidebar{
	left: -225px;
}
body.active .wrapper .section{
	margin-left: 0;
	width: 100%;
}
/*Cover*/
.topic-container{
  position: relative;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center
}
.cover-container {
	position: relative;
	padding-left: 1%;
  padding-right: 1%;
	width: 100%;
	display: flex;
	justify-content: center;
  height: 55%;
}
.cover{
  width: 90%;
}
/*dept and time*/
.dept{
  left: 0;
}
.time{
  right: 0;
}

/*post*/
.bg-div{
  background-color: #e3e3e3;
  width: 100%;
  padding: 20px;
}  
h1 {
    text-align: center;
    margin-bottom: 20px;
  }
.image-container2 {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 100px;
}

.image-text {
  margin-left: 20px;
  width: 70%;
}

.imageRei{
	height: 20%;
	width: 20%;
}
/*Login Btn*/
#login-btn{
	background-color: green;
	padding: 10px;
  border: none;
	border-radius: 5px;
  margin-right: 80px;
}
/*Upcoming Events and Ongoing Project */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
  
.column {
  float: left;
  width: 30%;
  margin: 0px 1% 16px 2%;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
/*post*/
main {
  margin: 60px;
}
.post {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  position: relative; /* add this to position the child element */
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.post-title {
  margin-top: 0;
}

.post-info {
  font-style: italic;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.post-content {
  margin-bottom: 20px;
}

.post-actions {
  display: flex;
  justify-content: flex-end;
}
/*answer btn*/
.button {
  background-color: #333D49;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
/*HR tag*/
.styled-hr {
  border: none;
  height: 3px;
  background-color: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 15px 0;
}
