@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
html,body{
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: sans-serif;
    overflow-x: hidden;
}


::-webkit-scrollbar-track {
    background: #11101D;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#scroll-up-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 50px;
    height: 50px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#scroll-up-btn:hover {
    background-color: #555;
}

.arrow-up {
    display: inline-block;
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(-135deg);
}


 .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 999;
}
.navbar {
  background-color: #11101D !important;
  text-align: center;
}
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-nav .nav-link {
  color: white !important;
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  background-color: white;
  border: none;
  text-align: center;
}
.dropdown-menu a {
  color: #11101D;
  font-size: 16px;
  font-weight: bold;
}
.dropdown-menu a:hover {
  background-color: grey;
  color: white;
}
@media only screen and (max-width: 767px) {
  .navbar-nav .nav-link {
    margin-right: 0;
  }
}
.section1 {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}
.image img{
  width: 100%;
  height: auto;
}
.logohome {
  max-width: 50px;
  max-height: 50px;
}
.section1-body{
    text-align:center;
    padding-top:15%;
}
.section1-h1 {
  margin-top: auto;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center; /* set the height of the container */
}
.tosection2btn {
  background-color: #11101D;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-decoration:none;
  max-width: 350px;
  outline:none;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.tosection2btn:hover {
  background-color: grey;
}

img{
    max-width: 80%;
}
.image{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-image{
    width: 100px;
    height: 100px;
}
::selection{
    color: #fff;
    background: #6665ee;
}
h2{
    font-weight: bold;
    color:#11101D;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container .form{
    background: #fff;
    padding: 35px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .form form .form-control{
    height: 40px;
    font-size: 15px;
}
.container .form form .forget-pass{
    margin: -15px 0 15px 0;
}
.container .form form .forget-pass a{
   font-size: 15px;
}
.container .form form .button{
    background: #11101D;
    /*#6665ee*/
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.container .form form .button:hover{
    background: grey;
}
.container .form form .link{
    padding: 5px 0;
}
.container .form form .link a{
    color: #6665ee;
}
.container .login-form form p{
    font-size: 14px;
}
.container .row .alert{
    font-size: 14px;
}