@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body{
	background: #f5f6fa;
}
.section-body {
	height: calc(100vh - 100px); /* Set a fixed height */
	overflow-y: auto; /* Make it scrollable */
  }
.image-container img{
    max-width: 100%;
    height: 30px;
    margin-left: 30px;
}
.links-container {
    margin-left: auto;
}
.links-container a:hover{
    background-color: #49525e;
}
.about-link, .contact-link {
    margin-left: 10px;
    color: white;
}

.wrapper .sidebar{
	background: #49525e;
	position: fixed;
	top: 0;
	left: 0;
	width: 225px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}
.wrapper .sidebar .profile{
	margin-bottom: 30px;
	text-align: center;
}
.wrapper .sidebar .profile img{
	display: block;
	width: 100px;
	height: 100px;
    border-radius: 50%;
	margin: 0 auto;
}
.wrapper .sidebar .profile h3{
	color: #ffffff;
	margin: 10px 0 5px;
}
.wrapper .sidebar .profile p{
	color: rgb(206, 240, 253);
	font-size: 14px;
}
.wrapper .sidebar ul li a{
	display: block;
	padding: 13px 30px;
	border-bottom: 1px solid #333D49;
	color: rgb(241, 237, 237);
	font-size: 16px;
	position: relative;
}
.wrapper .sidebar ul li a .icon{
	color: #dee4ec;
	width: 30px;
	display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
	color: #777777;
	background:white;
    border-right: 2px solid rgb(37, 37, 37);
}
.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
	color: #777777;
}
.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
	display: block;
}
.wrapper .section{
	width: calc(100% - 225px);
	margin-left: 225px;
	transition: all 0.5s ease;
}
.wrapper .section .top_navbar{
	background: #333D49;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 30px;
}
.wrapper .section .top_navbar .hamburger a{
	font-size: 28px;
	color: #f4fbff;
}
.wrapper .section .top_navbar .hamburger a:hover{
	color: #a1a1a1;
}
body.active .wrapper .sidebar{
	left: -225px;
}
body.active .wrapper .section{
	margin-left: 0;
	width: 100%;
}
/* Slideshow container */

.slideshow-container {
	position: relative;
	padding: 5px;
	width: 100%;
	display: flex;
	justify-content: center;
  }
  
  
  .slide {
	display: none;
  }
  
  .slide img {
	width: 1000px;
	height: 325px;
	object-fit: cover;
  }
  
  .prev, .next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	cursor: pointer;
	z-index: 1;
  }
  
  .prev {
	left: 7%;
  }
  
  .next {
	right: 7%;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #ffffff;
  }
  
  /* Fading animation */
  .fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
  } 
  .mySlides {display: none}

h1 {
    text-align: center;
    margin-bottom: 20px;
  }
.image-container2 {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 100px;
}

.image-text {
  margin-left: 20px;
  width: 70%;
}

.imageRei{
	height: 20%;
	width: 20%;
}
#login-btn{
	background-color: green;
	padding: 9px;
	border-radius: 5px;
}